.onecm1 {
	background-color: #557799;
	width: 1cm;
	height: 1cm;
}

.test1 {
	background-color: #4fe;
	width: 480px;
	height: 550px;
	overflow: scroll;
}

.levelSVG {
	width: 600px;
	height: 400px;
	border-style: solid;
	border-color: #00f;
	border-width: 1px;
}

.spectrum41 {
	background:
		linear-gradient(#00f, transparent),
		linear-gradient(to top left, #0f0, transparent),
		linear-gradient(to top right, #f00, transparent);
	background-blend-mode: screen;
}

.bgRect {
	fill: #ddeeff;
}

.bgBlur1 {
	fill: #998833;
	filter: url(#pictureFilter);
}

.cell {
	fill: #337766;
}

.ln {
	stroke: red;
	stroke-width: 0.25cm;
	stroke-linecap: round;
}

.ln2 {
	stroke: yellow;
	stroke-width: 0.25cm;
	stroke-linecap: round;
}

.tx {
	font-size: 1cm;
}

.tx1000 {
	font-size: 300cm;
	fill: rgba(128, 128, 128, 0.5);
}

.tx500 {
	font-size: 50cm;
	fill: rgba(128, 128, 128, 0.5);
}

.tx100 {
	font-size: 20cm;
	fill: rgba(128, 128, 128, 0.5);
}

.tx2 {
	font-size: 2cm;
	fill: rgba(128, 128, 128, 0.5);
}

.dbg {
	fill: rgba(128, 128, 128, 0.5);
}

.redtra {
	fill: rgba(128, 64, 32, 0.5);
}

.redborder {
	stroke: red;
	stroke-width: 0.75cm;
	stroke-linecap: round;
	fill: rgba(0, 128, 32, 0.15);
}